DB_HOST=postgres
DB_PORT=5432
DB_USER=user # o mesmo do docker-compose
DB_PASSWORD=pwd # o mesmo do docker-compose
DB_NAME=study_group
JWT_SECRET=0621ac160bdddd4706b2d8dcff5557ecd3889f39c524643cb6767a63b010fe69